<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>セレクト</title>
</head>
<body>
	<h1>セレクト</h1>
	<hr>

	<form action="/select_app" method="POST">
		<select name="favorite">
			<option value="">好きなものを選んでください</option>
			<option value="cat">ねこ</option>
			<option value="dog">いぬ</option>
			<option value="fried chicken">唐揚げ</option>
			<option value="chicken wings">手羽先</option>
			<option value="octopus wasabi">たこわさび</option>
		</select>
		<input type="submit" value="OK">
	</form>

</body>
</html>